.documentSearchContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 64.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 1rem;
}

.logoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    margin-bottom: 1.5rem;
}

.waveLogo {
    display: block;
    margin: 0 auto 1.5rem;
    max-width: 450px;
    width: 50%;
    height: auto;
}

.documentSearchTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5rem;
}

.documentSearchBottomSection {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 1.5rem;
    gap: 2rem;
}

.documentSearchTitle {
    font-size: 2.75rem;
    font-weight: 600;
    margin: 0 0 1.5rem 0;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.documentSearchInput {
    padding: 1rem;
    width: 100%;
    max-width: 64.25rem;
    margin: 0 auto;
}

.documentSearchResults {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.analysisPanel {
    width: 100%;
    max-width: 37.5rem;
    margin: 0 auto;
}

.settingsButton {
    align-self: flex-end;
    margin: 1.25rem 0;
}

.settingsSeparator {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    width: 100%;
}

.commandsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1.5rem 0;
    gap: 1rem;
    flex-wrap: wrap;
}

.commandButton {
    margin-bottom: 1.25rem;
}

@media (min-width: 992px) {
    .documentSearchTitle {
        font-size: 4rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .documentSearchBottomSection {
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .documentSearchResults {
        flex: 1;
        padding: 0;
    }

    .analysisPanel {
        width: 37.5rem;
        margin-left: 2rem;
        margin-top: 0;
    }

    .commandsContainer {
        justify-content: flex-end;
        padding-right: 0;
    }
}

@media (max-width: 991px) {
    .analysisPanel {
        margin-top: 2rem;
    }
}
